.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-around;
}
.containerCharacter {
    margin-top: 1rem;
    border: solid 1px grey;
    background-color: rgba(150, 150, 150, 0.5);
}
h1{
    font-family: 'saiyans', sans-serif;
    color: rgb(255, 196, 0);
}
img{
    width: 60%;
    height: 10em;
  }