.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-around;
}
.containerChar {
    margin-top: 1rem;
    border: solid 1px grey;
    background-color: rgba(150, 150, 150, 0.5);
    margin-left: 2em;
}
h1{
    font-family: 'saiyans', sans-serif;
    color: rgb(255, 196, 0);
}
img{
    width: 60%;
    height: 10em;
  }
select{
    width: 30%;
    border: solid 1px white;
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 4em;
}  