.container{
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
img{
    width: 4em;
    border-radius: 50%;
    height: 4em;
}
li{
    border: solid 1px grey;
    margin-top: 1rem;
    width: 10%;
    margin-left: 3%;
    height: 10em;
    justify-content: center;
    align-items: center;
}